[defaults]
remote_user = admin
#stdout_callback = yaml
stdout_callback = ansible.builtin.default
result_format = yaml
bin_ansible_callbacks = True
inventory = inventory/hosts
host_key_checking = False
retry_files_enabled = False
timeout = 30
forks = 10
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
